@media screen and (max-width: 1400px) {
    .upper-div {
        font-size: 12px;
        margin-bottom: 100px;
    }

    .main-div .start-game {
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .main-div .start-game .levels {
        margin: 0;
        margin-bottom: 10px;
    }
}