@font-face {
    font-family: custom-font;
    src: url(../font/SuperBoys-vmW67.ttf);
    font-style: normal;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: custom-font;
    height: 100%;
    overflow: auto;
    color: #1f2937;
}

.homepage {
    height: 100vh;
    background: linear-gradient(to bottom right, #a8edea, #fed6e3);
    box-sizing: border-box;
}

.upper-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upper-div .high-score {
    margin-left: 10px;
}

.upper-div .made-by {
    margin-right: 10px;
}

.main-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-div .start-game {
    display: flex;
    padding: 20px;
}

.main-div .start-game .levels {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    background: white;
    margin: 10px;
}

.main-div .start-game .levels h2 {
    text-align: center;
}

.main-div .start-game div button {
    outline: none;
    border: none;
    padding: 20px 30px;
    margin: 20px 20px;
    font-family: custom-font;
    font-size: larger;
    border-radius: 10px;
    background-color: aquamarine;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    border: solid;
}

.main-div .start-game .button:active {
    transform: scale(0.9);
}