@font-face {
    font-family: custom-font;
    src: url(../font/SuperBoys-vmW67.ttf);
    font-style: normal;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: custom-font;
    height: 100%;
    overflow: auto;
    color: #1f2937;
    background: linear-gradient(to bottom right, #a8edea, #fed6e3);
}


.mostHighContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.welcome-sign {
    padding: 20px;
    margin: 20px 0 70px 0;
    text-align: center;
    background:
        linear-gradient(135deg, rgba(255, 255, 255, 38%),
            rgba(255, 255, 255, 38%));
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 38%);
}

.welcome-sign h1 {
    font-size: 400%;
    font-weight: 100;
    margin: 0;
}

.instructions {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 100px 0 100px 0;
}

.singleOrMulti {
    display: flex;
    flex-direction: row;
}

.singleOrMulti .single,
.singleOrMulti .multi {
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(184, 184, 184), -2px -2px 5px rgb(184, 184, 184);
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 150ms;
    background-color: aquamarine;
}

.singleOrMulti .single:hover,
.singleOrMulti .multi:hover {
    padding: 10px;
    box-shadow: none;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 150ms;
    transform: scale(0.95);
}