@font-face {
    font-family: custom-font;
    src: url(../font/SuperBoys-vmW67.ttf);
    font-style: normal;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: custom-font;
    height: 100%;
    overflow: auto;
    color: #1f2937;
    background: linear-gradient(to bottom right, #a8edea, #fed6e3);
}


.mostHighContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-sign h1 {
    font-size: 400%;
    font-weight: 100;
    margin-bottom: 100px;
}

.instructions {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.singleOrMulti {
    display: flex;
    flex-direction: row;
}

.singleOrMulti .single,
.singleOrMulti .multi {
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(184, 184, 184), -2px -2px 10px rgb(184, 184, 184);
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 150ms;
    background-color: aquamarine;
}

.singleOrMulti .single:hover,
.singleOrMulti .multi:hover {
    padding: 10px;
    box-shadow: none;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 150ms;
    transform: scale(0.95);
}