@media screen and (max-width: 1400px) {
    .homepage {
        margin: 0;
    }

    .upper-div {
        font-size: 12px;
    }

    .main-div {
        width: 100vw;
        text-align: center;
    }

    .main-div .welcome-sign h1 {
        font-size: 200%;
        font-weight: 100;
        margin: 50px 0 0 0;
    }

    .main-div .start-game .button {
        margin: 20px;
    }

    .instructions {
        margin: 0;
        font-size: smaller;
    }
}