@font-face {
    font-family: custom-font;
    src: url(../font/SuperBoys-vmW67.ttf);
    font-style: normal;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: custom-font;
    height: 100%;
    overflow: auto;
}

/* -----------------------------SHAPES-------------------------- */
.circle {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 100px;
    box-shadow: 1px 2px 3px black;
    z-index: 1;
}

.rectangle {
    position: absolute;
    top: 55%;
    left: 30%;
    height: 200px;
    width: 100px;
    background-color: blue;
    box-shadow: 1px 2px 3px black;
    z-index: 1;
}

.triangle {
    position: absolute;
    top: 35%;
    left: 70%;
    height: 200px;
    width: 200px;
    background-color: green;
    box-shadow: 1px 2px 3px black;
    transform: rotate(-45deg);
    z-index: 1;
}

.triangle2 {
    content: " ";
    position: absolute;
    top: 5.5%;
    left: 4.5%;
    height: 180px;
    width: 180px;
    background-color: yellow;
    box-shadow: 1px 2px 3px black;
}

.triangle3 {
    content: " ";
    position: absolute;
    top: 5.5%;
    left: 5.5%;
    height: 160px;
    width: 160px;
    background-color: orange;
    box-shadow: 1px 2px 3px black;
}

.triangle4 {
    content: " ";
    position: absolute;
    top: 5.5%;
    left: 7%;
    height: 140px;
    width: 140px;
    background-color: red;
    box-shadow: 1px 2px 3px black;
}

.triangle5 {
    content: " ";
    position: absolute;
    top: 7%;
    left: 8%;
    height: 120px;
    width: 120px;
    background-color: blue;
    box-shadow: 1px 2px 3px black;
}

/* ------------------------------------------------------------- */
.gamepage {
    background: linear-gradient(to bottom right, #a8edea, #fed6e3);
    height: 100vh;
    width: 100vw;
    position: relative;
    border: 10px solid rgb(255, 255, 255);
    box-sizing: border-box;
    transition: ease-in-out 150ms;
}

.correct {
    display: none;
    text-align: center;
}

.incorrect {
    display: none;
    text-align: center;
}

.empty {
    display: none;
}

.help {
    display: none;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 1;
}

.score {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-shadow: 0px 0px 0px black;

    &>h1:last-of-type {
        cursor: pointer;
    }
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hint {
    text-align: center;
}

.question>label,
button {
    margin: 40px 0 0;
}

.question label {
    font-size: x-large;
}

.question input {
    margin-top: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid black;
    font-family: custom-font;
    outline: none;
    border-radius: 3px;
}

.question input:focus-visible {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #000;
    outline: none;
    font-family: custom-font;
}

.question button {
    outline: none;
    border: none;
    padding: 20px 30px;
    margin-bottom: 21.440px;
    font-family: custom-font;
    font-size: larger;
    border-radius: 10px;
    background-color: aquamarine;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: ease-in-out 150ms;
}

.question button:hover {
    transform: scale(1.1);
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.249), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
}

.username-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.username {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    z-index: 2;
}

.username input {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid black;
    font-family: custom-font;
    outline: none;
}

.username input:focus-visible {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #000;
    outline: none;
    font-family: custom-font;
}

.username button {
    outline: none;
    border: none;
    padding: 20px 30px;
    font-family: custom-font;
    font-size: larger;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.username button:active {
    transform: scale(0.9);
}