@font-face {
    font-family: custom-font;
    src: url(./font/SuperBoys-vmW67.ttf);
    font-style: normal; 
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.upper-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: custom-font;
}

.upper-div .high-score {
    margin-left: 10px;
}

.upper-div .made-by {
    margin-right: 10px;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: custom-font;
}

.main-div .welcome-sign h1 {
    font-size: 400%;
    font-weight: 100;
    margin-bottom: 100px;
}

.main-div .start-game .button {
    outline: none;
    border: none;
    padding: 20px 30px;
    font-family: custom-font;
    font-size: larger;
    border-radius: 10px;
    background-color: aquamarine;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.main-div .start-game:active {
    transform: scale(0.9);
}

.main-div .game-duration {
    margin-top: 100px;
}