@font-face {
    font-family: custom-font;
    src: url(./font/SuperBoys-vmW67.ttf);
    font-style: normal; 
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: custom-font;
}