@media screen and (min-height: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .username-cantainer {
        margin-bottom: 500px;
    }
}